<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="blogs content">
            <h2>About us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet iste quidem perspiciatis saepe nihil, ipsam temporibus maxime dolorem, ipsa tempora, alias reiciendis necessitatibus optio odit harum enim voluptate nesciunt sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet iste quidem perspiciatis saepe nihil, ipsam temporibus maxime dolorem, ipsa tempora, alias reiciendis necessitatibus optio odit harum enim voluptate nesciunt sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet iste quidem perspiciatis saepe nihil, ipsam temporibus maxime dolorem, ipsa tempora, alias reiciendis necessitatibus optio odit harum enim voluptate nesciunt sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet iste quidem perspiciatis saepe nihil, ipsam temporibus maxime dolorem, ipsa tempora, alias reiciendis necessitatibus optio odit harum enim voluptate nesciunt sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet iste quidem perspiciatis saepe nihil, ipsam temporibus maxime dolorem, ipsa tempora, alias reiciendis necessitatibus optio odit harum enim voluptate nesciunt sapiente?</p>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>